{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{%- if section.settings.use_collapsible_row -%}
  {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
  {{ 'collapsible-content.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{{ 'section-bundle-builder.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-bundle-builder.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="product-list--title collection__title title-wrapper page-width">
  <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ section.settings.title }}
  </h2>
  {%- if section.settings.description != blank
    or section.settings.show_description
  -%}
    <div class="collection__description h5 rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- if section.settings.show_description -%}
        {{ section.settings.description | strip_html }}
      {%- endif %}
    </div>
  {%- endif -%}
</div>

<div class="bundle-builder color-{{ section.settings.color_scheme }} isolate gradient page-width">
  <div class="bundle-builder--left">
    {%- for block in section.blocks -%}
      <div 
        class="product-list accordion collection{% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} section-{{ block.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}"
        id="collection-{{ block.id }}"
        data-id="{{ block.id }}"
        >
        {% if section.settings.use_collapsible_row %}
         <details
          id="Details-{{ block.id }}-{{ section.id }}"
          {% if section.settings.open_first_collapsible_row and forloop.first %}
            open
          {% endif %}
          >
          <summary id="Summary-{{ block.id }}-{{ section.id }}">
        {% endif %}
            <div class="product-list--title">
              {%- if block.settings.collection.title != blank -%}
                <h3 class="{{ block.settings.heading_size }} accordion__title inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                  {{ block.settings.collection.title }} 
                  {% if section.settings.show_product_number %}
                    <sup class="subtitle--small">({{ 'products.facets.product_count_simple' | t: count: block.settings.collection.products_count }})</sup>
                  {% endif %}
                </h3>
              {%- endif -%}
              {%- if block.settings.description != blank
                or section.settings.show_description
                and block.settings.collection.description != empty
              -%}
                <div class="h5 bundle-builder--description rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                  {%- if section.settings.show_description -%}
                    {{ block.settings.collection.description | strip_html }}
                  {%- else -%}
                    {{ block.settings.description | strip_html -}}
                  {%- endif %}
                </div>
              {%- endif -%}
            </div>
        {% if section.settings.use_collapsible_row %}
            {% render 'icon-caret' %}
          </summary>
        {% endif %}
          
          <ul 
            {% if section.settings.use_collapsible_row %}
              id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
              role="region"
              aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
            {% endif %}
            class="product-list--products grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down">
            {%- for product in block.settings.collection.products limit: 50  -%}
              <li 
                class="product-list--product grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                data-product-id="{{ product.variants.first.id }}"
                data-bundleBuilder-title="{{ product.title }}"
                data-bundleBuilder-price="{{ product.price }}"
                data-bundleBuilder="product"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <div class="product-list--button-container visibility-hidden" data-bundleBuilder="removeProduct">
                  <button class="button button--primary">
                    {% render 'icon-remove' %}
                  </button>
                </div>
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  image_shape: section.settings.image_shape,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating,
                  section_id: section.id
                %}
              </li>
            {%- endfor -%}
          </ul>
        </details>
      </div>
    {%- endfor -%}

  </div>
  <div class="bundle-builder-aside color-{{ section.settings.color_scheme_aside }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div 
      class="bundle-builder--aside--title h2 inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
        style="--animation-order: 1;"
      {% endif %}
    >
      {{ section.settings.aside_title }}
    </div>
    <div 
      class="bundle-builder-aside--description rte h4{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
        style="--animation-order: 2;"
      {% endif %}
    >
      {{ section.settings.aside_description }}
    </div>
    <ul class="bundle-builder-aside--products--no-products gradien">
      {% for i in (1..3) %}
        {%- liquid
          assign title_key = "title_" | append: i
          assign title = section.settings[title_key]
          assign icon_key = "icon_" | append: i
          assign icon = section.settings[icon_key] 
        -%}
        <li class="bundle-builder-aside--element h4{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" 
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}>
          <div class="bundle-builder-aside--element-icon">
            {% render 'icon-accordion', icon: icon %}
          </div>
          {{ title }}
        </li>
      {% endfor %}
    </ul>    
    <div class="bundle-builder-aside--products visually-hidden">
    </div>
    <div class="bundle-builder-aside--totals total visually-hidden">
      <h4 class="bundle-builder-aside--totals__total">
        {{ 'sections.cart.estimated_total' | t }}
      </h4>
      <p class="bundle-builder-aside--totals__total-value">
        {{ 0 | money_with_currency }}
      </p>
    </div>
    <div class="bundle-builder-form--group{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <bundle-builder-form>
        <form method="post" action="{{ routes.cart_update_url }}" class="bundle-builder-form" data-type="add-to-cart-form">
          <input type="submit" disabled value="{{ section.settings.aside_defaultForm }}" class="product-form__submit button button--full-width button--primary" />
        </form>
      </bundle-builder-form>
      <button class="bundle-builder-form--resetAll button button--tertiary" disabled onclick="resetAll()">
        {{ section.settings.aside_resetButton }}
      </button>
    </div>
  </div>
</div>

<script>
  const aside_defaultForm = `{{ section.settings.aside_defaultForm }}`;
  const aside_addForm = `{{ section.settings.aside_addForm }}`;
</script>

{% schema %}
  {
    "name": "Bundle Builder",
    "tag": "section",
    "class": "section section-bundle-builder",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "Featured collection",
        "label": "t:sections.featured-collection.settings.title.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.featured-collection.settings.description.label"
      },
      {
        "type": "header",
        "content": "Product List",
        "info": "Settings for product list"
      },
      {
        "type": "checkbox",
        "id": "show_description",
        "label": "Show Description in product list",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_number",
        "label": "Show number of product(s) in product list",
        "default": true
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "t:sections.featured-collection.settings.description_style.label",
        "options": [
          {
            "value": "body",
            "label": "t:sections.featured-collection.settings.description_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.featured-collection.settings.description_style.options__2.label"
          },
          {
            "value": "uppercase",
            "label": "t:sections.featured-collection.settings.description_style.options__3.label"
          }
        ],
        "default": "body"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.columns_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "use_collapsible_row",
        "default": true,
        "label": "Use collapsible row"
      },
      {
        "type": "checkbox",
        "id": "open_first_collapsible_row",
        "default": true,
        "label": "t:sections.collapsible_content.settings.open_first_collapsible_row.label"
      },
      {
        "type": "header",
        "content": "Aside customization",
        "info": "Settings for aside section"
      },
      {
        "type": "text",
        "id": "aside_title",
        "label": "Title for aside section",
        "default": "Bundle Builder"
      },
      {
        "type": "text",
        "id": "aside_resetButton",
        "label": "Title for reset button",
        "default": "Reset bundle"
      },
      {
        "type": "textarea",
        "id": "aside_description",
        "label": "Description for aside section",
        "default": "Tailor your shopping experience by mixing and matching items to create unique packages."
      },
      {
        "type": "color_scheme",
        "id": "color_scheme_aside",
        "label": "Color Scheme for aside",
        "info": "t:sections.all.colors.has_cards_info",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "Default State",
        "info": "Settings for default state aside"
      },
      {
        "type": "select",
        "id": "icon_1",
        "options": [
          {
            "value": "none",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__1.label"
          },
          {
            "value": "apple",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__2.label"
          },
          {
            "value": "banana",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__3.label"
          },
          {
            "value": "bottle",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
          },
          {
            "value": "box",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
          },
          {
            "value": "carrot",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
          },
          {
            "value": "chat_bubble",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
          },
          {
            "value": "check_mark",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
          },
          {
            "value": "clipboard",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
          },
          {
            "value": "dairy",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
          },
          {
            "value": "dairy_free",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
          },
          {
            "value": "dryer",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
          },
          {
            "value": "eye",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
          },
          {
            "value": "fire",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
          },
          {
            "value": "gluten_free",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
          },
          {
            "value": "heart",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
          },
          {
            "value": "iron",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
          },
          {
            "value": "leaf",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
          },
          {
            "value": "leather",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
          },
          {
            "value": "lightning_bolt",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
          },
          {
            "value": "lipstick",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
          },
          {
            "value": "lock",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
          },
          {
            "value": "map_pin",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
          },
          {
            "value": "nut_free",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
          },
          {
            "value": "pants",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
          },
          {
            "value": "paw_print",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
          },
          {
            "value": "pepper",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
          },
          {
            "value": "perfume",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
          },
          {
            "value": "plane",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
          },
          {
            "value": "plant",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
          },
          {
            "value": "price_tag",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
          },
          {
            "value": "question_mark",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
          },
          {
            "value": "recycle",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
          },
          {
            "value": "return",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
          },
          {
            "value": "ruler",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
          },
          {
            "value": "serving_dish",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
          },
          {
            "value": "shirt",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
          },
          {
            "value": "shoe",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
          },
          {
            "value": "silhouette",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
          },
          {
            "value": "snowflake",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
          },
          {
            "value": "star",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
          },
          {
            "value": "stopwatch",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
          },
          {
            "value": "truck",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
          },
          {
            "value": "washing",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
          }
        ],
        "default": "check_mark",
        "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.label"
      },
      {
        "type": "text",
        "id": "title_1",
        "label": "Testo elenco 1",
        "default": "Visualizza l'offerta prodotti"
      },
      {
        "type": "select",
        "id": "icon_2",
        "options": [
          {
            "value": "none",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__1.label"
          },
          {
            "value": "apple",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__2.label"
          },
          {
            "value": "banana",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__3.label"
          },
          {
            "value": "bottle",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
          },
          {
            "value": "box",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
          },
          {
            "value": "carrot",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
          },
          {
            "value": "chat_bubble",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
          },
          {
            "value": "check_mark",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
          },
          {
            "value": "clipboard",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
          },
          {
            "value": "dairy",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
          },
          {
            "value": "dairy_free",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
          },
          {
            "value": "dryer",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
          },
          {
            "value": "eye",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
          },
          {
            "value": "fire",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
          },
          {
            "value": "gluten_free",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
          },
          {
            "value": "heart",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
          },
          {
            "value": "iron",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
          },
          {
            "value": "leaf",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
          },
          {
            "value": "leather",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
          },
          {
            "value": "lightning_bolt",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
          },
          {
            "value": "lipstick",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
          },
          {
            "value": "lock",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
          },
          {
            "value": "map_pin",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
          },
          {
            "value": "nut_free",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
          },
          {
            "value": "pants",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
          },
          {
            "value": "paw_print",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
          },
          {
            "value": "pepper",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
          },
          {
            "value": "perfume",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
          },
          {
            "value": "plane",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
          },
          {
            "value": "plant",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
          },
          {
            "value": "price_tag",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
          },
          {
            "value": "question_mark",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
          },
          {
            "value": "recycle",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
          },
          {
            "value": "return",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
          },
          {
            "value": "ruler",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
          },
          {
            "value": "serving_dish",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
          },
          {
            "value": "shirt",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
          },
          {
            "value": "shoe",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
          },
          {
            "value": "silhouette",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
          },
          {
            "value": "snowflake",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
          },
          {
            "value": "star",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
          },
          {
            "value": "stopwatch",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
          },
          {
            "value": "truck",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
          },
          {
            "value": "washing",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
          }
        ],
        "default": "check_mark",
        "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.label"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Testo elenco 1",
        "default": "Select Products"
      },
      {
        "type": "select",
        "id": "icon_3",
        "options": [
          {
            "value": "none",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__1.label"
          },
          {
            "value": "apple",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__2.label"
          },
          {
            "value": "banana",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__3.label"
          },
          {
            "value": "bottle",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
          },
          {
            "value": "box",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
          },
          {
            "value": "carrot",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
          },
          {
            "value": "chat_bubble",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
          },
          {
            "value": "check_mark",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
          },
          {
            "value": "clipboard",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
          },
          {
            "value": "dairy",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
          },
          {
            "value": "dairy_free",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
          },
          {
            "value": "dryer",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
          },
          {
            "value": "eye",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
          },
          {
            "value": "fire",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
          },
          {
            "value": "gluten_free",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
          },
          {
            "value": "heart",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
          },
          {
            "value": "iron",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
          },
          {
            "value": "leaf",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
          },
          {
            "value": "leather",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
          },
          {
            "value": "lightning_bolt",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
          },
          {
            "value": "lipstick",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
          },
          {
            "value": "lock",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
          },
          {
            "value": "map_pin",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
          },
          {
            "value": "nut_free",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
          },
          {
            "value": "pants",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
          },
          {
            "value": "paw_print",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
          },
          {
            "value": "pepper",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
          },
          {
            "value": "perfume",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
          },
          {
            "value": "plane",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
          },
          {
            "value": "plant",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
          },
          {
            "value": "price_tag",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
          },
          {
            "value": "question_mark",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
          },
          {
            "value": "recycle",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
          },
          {
            "value": "return",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
          },
          {
            "value": "ruler",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
          },
          {
            "value": "serving_dish",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
          },
          {
            "value": "shirt",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
          },
          {
            "value": "shoe",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
          },
          {
            "value": "silhouette",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
          },
          {
            "value": "snowflake",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
          },
          {
            "value": "star",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
          },
          {
            "value": "stopwatch",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
          },
          {
            "value": "truck",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
          },
          {
            "value": "washing",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
          }
        ],
        "default": "check_mark",
        "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.label"
      },
      {
        "type": "text",
        "id": "title_3",
        "label": "Testo elenco 1",
        "default": "Acquista tutti i prodotti"
      },
      {
        "type": "text",
        "id": "aside_defaultForm",
        "label": "CTA text default state",
        "default": "Select products"
      },
      {
        "type": "header",
        "content": "Settings Product added"
      },
      {
        "type": "text",
        "id": "aside_addForm",
        "label": "CTA text default state",
        "default": "Add bundle to cart"
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
          },
          {
            "value": "square",
            "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.label"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_vendor.label"
      },
      {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_rating.label",
        "info": "t:sections.featured-collection.settings.show_rating.info"
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header_mobile.content"
      },
      {
        "type": "select",
        "id": "columns_mobile",
        "default": "2",
        "label": "t:sections.featured-collection.settings.columns_mobile.label",
        "options": [
          {
            "value": "1",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
          },
          {
            "value": "2",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "Collection",
        "name": "collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection.settings.collection.label"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "t:sections.featured-collection.settings.description.label"
          },
          {
            "type": "checkbox",
            "id": "show_description",
            "label": "t:sections.featured-collection.settings.show_description.label",
            "default": false
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              },
              {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              },
              {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "h2",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      }
    ],
    
    "presets": [
      {
        "name": "Bundle Builder"
      }
    ]
  }
{% endschema %}
